@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,500&family=Titillium+Web:ital,wght@1,200;1,300;1,400&family=Ubuntu&display=swap');


html {
    scroll-behavior: smooth;
    user-select: none;
}

.dark{
    background: #000000f0;
    color: white;
}
.light{
    background-color: whitesmoke;
    color: '#0000000';
}

.darkImg{
    filter: drop-shadow(20px -5px 55px  #92cbe1);
}
.lightImg{
    filter: drop-shadow(20px -5px 55px #87CEEB);
}

.animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
