@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,500&family=Titillium+Web:ital,wght@1,200;1,300;1,400&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

html {
    scroll-behavior: smooth;
    user-select: none;
}

.dark {
    background: #000000f0;
    color: white;
}

.light {
    background-color: rgb(249, 249, 249);
    color: '#0000000';
}

.darkImg {
    filter: drop-shadow(20px -5px 55px #92cbe1);
}

.lightImg {
    filter: drop-shadow(20px -5px 55px #87CEEB);
}

.animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.animate-bubble {
    -webkit-animation: animatedbubble 2s ease-in-out infinite alternate-reverse;
    -moz-animation: animatedbubble 2s ease-in-out infinite alternate-reverse;
    animation: animatedbubble 2s ease-in-out infinite alternate-reverse;
}

@keyframes animatedbubble {
    0% {
        top: -4;
        right: -2;
    }

    25% {
        top: -2;
        right: -4;
    }

    50% {
        top: 0;
        right: -2;
    }

    75% {
        top: -2;
        right: 0;
    }

    100% {
        top: -4;
        right: -2;
    }
}

.blur {
    background-image: url('./assets/blur.jpg');
    background-size: cover;
    background-position: center;
}

.splash {
    -webkit-animation: splash 1.5s linear;
    -moz-animation: splash 1.5s linear;
    animation: splash 1.5s linear;
}

@keyframes splash {
    0% {
        scale: 0;
    }

    25% {
        scale: .5;
    }

    50% {
        scale: 1;
    }

    75% {
        scale: 1.5;
    }

    100% {
        scale: 2;
    }
}




.animate-backdrop {

    -webkit-animation: animatedbackdrop 4s linear infinite alternate-reverse;
    -moz-animation: animatedbackdrop 4s linear infinite alternate-reverse;
    animation: animatedbackdrop 4s linear infinite alternate-reverse;
}

@keyframes animatedbackdrop {
    0% {
        translate: 30% -20%;
    }

    25% {
        translate: 15% -10%;
    }

    50% {
        translate: 0% 0%;
    }

    75% {
        translate: -15% 10%;
    }

    100% {
        translate: -30% 20%;
    }
}
